{% extends "base.html" %}
{% block content %}
    <header>
  	<h2>Issue Tracker</h2>
	</header>

	<section>
    <form method="post" action="recovery_submit" class="container"> <!-- Redirected to index.py-->  <!-- add action path-->
        <legend class="text-center case" style="margin-top:40px;"><h1>Password recovery</h1></legend>

        <div class="text-center forms container">
            <label class="fontsize">Your email</label><br/>
            <input type="text" name="email" class="textbox"/><br/>
            {% if error_value== True %}
                Email not registered
            {% endif %}<br/><br>
            <input type="submit" class="button" value="Submit"/><br/><br>

        </div>
    </form>
    </section>
{% endblock %}