{% extends "base.html" %}
{% block content %}
<header>
  <h2>Project Tracker</h2>
</header>

<section>
  <nav>
    <ul>
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="{{url_for('new_issue_landing')}}">New Issue</a></li>
	  <li><a href="{{url_for('sign_out')}}">Sign Out</a></li>
	</ul>
  </nav>

  <article>
    <h1>Issue List</h1>
    <p>
			<ul style="list-style: none; padding-left: 0;">
			<li style="float:left;padding-right: 5px;">
				<form method="post" action="main_issue_list">
                    Status
					<select name ="status">
						{% if selected_status %}
        				<option select="selected">{{selected_status}}</option>
        				{% endif %}
                        <option name="status_all" value="All">All</option>
						<option name="open" value="Open">Open</option>
						<option name="closed" value="Closed">Closed</option>
					</select>

					Project
					<select name ="project">
						{% if selected_project %}
        				<option select="selected">{{selected_project}}</option>
        				{% endif %}
							<option name="project_all">All</option>
						{% for project in projects %}
							<option name="{{project}}">{{project}}</option>
						{% endfor %}
					</select>

            		Discipline
                    <select name="discipline">
						{% if selected_discipline %}
        				<option select="selected">{{selected_discipline}}</option>
        				{% endif %}
							<option name="dis_all">All</option>
						{% for discipline in disciplines %}
							<option name="{{discipline}}">{{discipline}}</option>
						{% endfor %}
					</select>


            		Sentiment
                    <select name="sentiment">
						{% if selected_sentiment %}
        				<option select="selected">{{selected_sentiment}}</option>
        				{% endif %}
                        <option name="sent_all">All</option>
						<option name="POSITIVE">POSITIVE</option>
						<option name="NEGATIVE">NEGATIVE</option>
                        <option name="NEUTRAL">NEUTRAL</option>
					</select>

                    <input type="submit" value="submit">
				</form>

			{% if documents %}
				<form method="post" action="main_issue_list">
					Document
					<select name="document" onchange="this.form.submit()">
						{% if selected_document %}
							<option select="selected">{{selected_document}}</option>
							{% endif %}
								<option name="doc_all">All</option>
							{% for document in documents %}
								<option name="{{document}}">{{document}}</option>
							{% endfor %}
					</select>
					{% if selected_status %}
					<input type="hidden" id="status" name="status" value="{{selected_status}}">
					{% endif %}
					{% if selected_project %}
					<input type="hidden" id="project" name="project" value="{{selected_project}}">
					{% endif %}
					{% if selected_discipline %}
					<input type="hidden" id="discipline" name="discipline" value="{{selected_discipline}}">
					{% endif %}
					{% if selected_sentiment %}
					<input type="hidden" id="sentiment" name="sentiment" value="{{selected_sentiment}}">
					{% endif %}
				</form>
			{% endif %}
			</li>
            <li style="float:right;">
                <form action="{{url_for('export_to_pdf')}}" method="post">
                    <button name="pdf" type="submit">Export to PDF</button>
                </form>

			</li>

		</ul>
	</p>
	<br/>
     <br/>
    <p>
	<table border="2">

			<tr>
			<th>ID</th>
			<th>DATE</th>
			<th>PROJECTS</th>
			<th>DOCUMENT</th>
			<th>DISCIPLINE</th>
			<th>ISSUE</th>
			<th>SENTIMENT</th>
			<th>STATUS</th>
			</tr>
			{% for row in issues %}
				<tr>
					<td>
					{{row[4]}}
					</td>
					<td>
					{{row[0]}}
					</td>
					<td>
					{{row[5]}}
					</td>
					<td>
					{{row[3]}}
					</td>
					<td>
					{{row[2]}}
					</td>
					<td>
					{{row[1]}}
					</td>
					<td>
					{{row[6]}}
					</td>
					<td>
                        <form method="post" action="change_status">
                            <select name="status_row" onchange="this.form.submit()">

                                {% for status in lists %}
                                <option value="{{status}}">{{status}}</option>
                                {% endfor %}
                            </select>

                        </form>
					</td>
				 </tr>
				{% endfor %}
		</table>
	</p>
  </article>
</section>

<footer class="footer container-fluid pl-30 pr-30">
	<div class="row">
		<div class="col-sm-12">
  			<p>Clark, Haldar, Joshi</p>
		</div>
	</div>
</footer>
{% endblock %}
