{% extends "base.html" %}
{% block content %}
<header>
  <h2>Project Tracker</h2>
</header>

<section>
  <nav>
    <ul>
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="{{url_for('new_issue_landing')}}">New Issue</a></li>
	  <li><a href="{{url_for('sign_out')}}">Sign Out</a></li>
	</ul>
  </nav>

  <article>
    <h1>Issue List</h1>
    <p>
			<ul style="list-style: none; padding-left: 0;">
			<li style="float:left;padding-right: 5px;">
			Sort By Filter
				<form method="post" action="filter">
                    Sort By Status
					<select>
						<option name="open" value="Open">Open</option>
						<option name="closed" value="Closed">Closed</option>
					</select>

			Sort By Project
					<select name ="project">
							<option name="All">All</option>
						{% for project in projects %}
							<option name="{{project}}">{{project}}</option>
						{% endfor %}
					</select>

            Sort By Discipline
                    <select name="discipline">
							<option name="All">All</option>
						{% for discipline in disciplines %}
							<option name="{{discipline}}">{{discipline}}</option>
						{% endfor %}
					</select>


            Sort By Sentiment
                    <select>
						<option name="positive">Positive</option>
						<option name="negative">Negative</option>
                        <option name="neutral">Neutral</option>
					</select>

                    <input type="submit" value="submit">
				</form>
			</li>
		</ul>
	</p>
	<br/>
     <br/>
    <p>
	<table border="1">

			<tr>
			<th>ID</th>
			<th>DATE</th>
			<th>PROJECTS</th>
			<th>DOCUMENT</th>
			<th>DISCIPLINE</th>
			<th>ISSUE</th>
			<th>SENTIMENT</th>
			<th>STATUS</th>
			</tr>
			{% for row in issues %}
				<tr>
					<td>
					{{row[4]}}
					</td>
					<td>
					{{row[0]}}
					</td>
					<td>
					{{row[5]}}
					</td>
					<td>
					{{row[3]}}
					</td>
					<td>
					{{row[2]}}
					</td>
					<td>
					{{row[1]}}
					</td>
					<td>
					{{row[6]}}
					</td>
					<td>
					{{row[7]}}
					</td>
				 </tr>
				{% endfor %}
		</table>
	</p>
  </article>
</section>

<footer class="footer container-fluid pl-30 pr-30">
	<div class="row">
		<div class="col-sm-12">
  			<p>Clark, Haldar, Joshi</p>
		</div>
	</div>
</footer>
{% endblock %}
