<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<table border="4">
		
			<tr>
			<td>ID</td>
			<td>PROJECTS</td>
			<td>DOCUMENT</td>
			<td>STATUS</td>
			<td>DATE</td>
			<td>ENGINEERING SUBJECT</td>
			<td>ISSUE</td>
			</tr>
			{%
				for row in issues:
				{
				%}
				<tr>
					<td>
						{% row[0] %}
					</td>
					<td>
						{% row[1] %}
					</td>
					<td>
						{% row[2] %}
					</td>
					<td>
						{% row[3] %}
					</td>
					<td>
						{% row[4] %}
					</td>
					<td>
						{% row[5] %}
					</td>
					<td>
						{% row[6] %}
					</td>
				 </tr>
				{%
				}
				%}
		</table>

</body>
</html>